
    <div class="card-details">
        <div>
            <p class="card-details-type">{{ card.type }}</p>
            <p class="lead-small">{{ card.cardNumber | uppercase }}</p>
        </div>
        <div>
            <button class="btn-dark">{{ card.cardName }}</button>
        </div>
    </div>
    <div class="card-balance">
        <p>Balance</p>
        <div>
            <mat-progress-bar mode="determinate" value="{{ spentAmount }}"></mat-progress-bar>
        </div>
    </div>
    <div class="card-meaning">
        <div class="card-meaning-first">
            <div class="mean-dark"></div>
            <p>spent</p>
        </div>
        <div class="card-meaning-second">
            <div class="mean-light"></div>
            <p>total balance</p>
        </div>
    
    </div>
    <div class="pay-now" *ngIf="spentAmount > 0">
        <button class="btn-gradient" (click)="onPayNow()">PAY NOW</button>
    </div>

