.icon {
    font-size: 1.5rem  !important;
    line-height: 1 !important;
    color: #fff;
    p {
        font-size: 0.7rem;
    }
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
-webkit-tap-highlight-color: transparent;
justify-content: center;
}

.active {
    background: rgba(0,0,0,0.1);
}