<ng-container *ngIf="(savedAccounts | async ).length > 0">
    <p class="saved-name">Saved Accounts</p>
    <div class="cust" *ngFor="let account of savedAccounts | async">
        <div>
            <img src="./../../../../assets/img/profile.png" alt="" width="30px">
        </div>
        <div>
            <p class="lead-small">{{ account.name }}</p>
            <p class="lead-small">{{ account.accountNo }}</p>
        </div>
        <div>
            <div class="mean-dark"></div>
        </div>
    </div>
    <div class="text-right">
        <button class="btn-gradient">View All</button>
    </div>
</ng-container>